fastapi
uvicorn[standard]

python-dotenv

pydantic
pydantic-settings

python-multipart

rich

orjson

httpx
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-ollama

chromadb

sentence-transformers

python-multipart

aiofiles

pypdf